* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  //font-size: 1.6rem;
  //color: white;
}

@font-face {
  font-family: typewriter;
  src: url(./assets/fonts/jmh_typewriter/JMHTypewriter-Thin.otf);
}

body {
  background: rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
  position: relative;
}

.custom-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.custom-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
  background-color: white;
}

.title {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 300;
  font-family: typewriter;
}

.tags {
  color: rgb(255, 23, 23);
}

.slash {
  color: rgb(52, 241, 52);
}

.skills img {
  height: 9rem;
  box-shadow: 2px 3px rgba(243, 57, 57, 0.52);
  border-radius: 10px;
  padding: 15px;
}

.landing {
  width: 100vw;
  height: 100vh;
}

.full-screen {
  height: 100vh;
  width: 100vw;
}

// body {
//   width: 100vw;
//   height: 100vh;
//   margin: 0rem;
//   //font-size: 10px;

//   .container-vertical {
//     width: 100%;
//     height: 100%;
//     scroll-snap-type: y mandatory;
//     overflow-y: scroll;

//     section {
//       position: relative;
//       display: flex;
//       // justify-content: center;
//       // align-items: center;
//       width: 100vw;
//       height: 100vh;
//       scroll-snap-align: start;

//       color: white;

//       &:nth-of-type(1) {
//         background-color: rgb(28, 28, 28);
//       }

//       &:nth-of-type(2) {
//         background-color: rgb(38, 38, 38);
//       }

//       &:nth-of-type(3) {
//         background-color: rgb(48, 48, 48);
//       }

//       .header {
//         position: absolute;
//         top: 40%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         font-size: 2rem;
//         font-style: italic;
//         font-family: "Open Sans";
//       }

//       @media screen and (max-width: 600px) {
//         .header {
//           width: 100vw;
//           font-size: 1rem;
//           left: 66%;
//         }
//       }

//       .icon-scroll,
//       .icon-scroll:before {
//         position: absolute;
//         left: 50%;
//         top: 80%;
//       }
//       .icon-scroll {
//         width: 40px;
//         height: 70px;
//         margin-left: -20px;
//         margin-top: -35px;
//         box-shadow: inset 0 0 0 1px #fff;
//         border-radius: 25px;
//       }
//       .icon-scroll:before {
//         content: "";
//         width: 8px;
//         height: 8px;
//         background: #fff;
//         margin-left: -4px;
//         top: 8px;
//         border-radius: 4px;
//         animation-duration: 1.5s;
//         animation-iteration-count: infinite;
//         animation-name: scroll;
//       }
//       @-moz-keyframes scroll {
//         0% {
//           opacity: 1;
//         }
//         100% {
//           opacity: 0;
//           transform: translateY(46px);
//         }
//       }
//       @-webkit-keyframes scroll {
//         0% {
//           opacity: 1;
//         }
//         100% {
//           opacity: 0;
//           transform: translateY(46px);
//         }
//       }
//       @-o-keyframes scroll {
//         0% {
//           opacity: 1;
//         }
//         100% {
//           opacity: 0;
//           transform: translateY(46px);
//         }
//       }
//       @keyframes scroll {
//         0% {
//           opacity: 1;
//         }
//         100% {
//           opacity: 0;
//           transform: translateY(46px);
//         }
//       }
//     }
//   }

//   .container-horizontal {
//     width: 100%;
//     height: 100%;
//     scroll-snap-type: x mandatory;
//     overflow-x: scroll;
//     display: flex;

//     section {
//       display: flex;
//       flex: none;
//       // justify-content: center;
//       // align-items: center;
//       width: 100vw;
//       height: 100vh;
//       scroll-snap-align: start;
//       // scroll-margin-left: 10rem;

//       color: white;

//       &:nth-of-type(1) {
//         background-color: rgb(28, 28, 28);
//       }

//       &:nth-of-type(2) {
//         background-color: rgb(38, 38, 38);
//       }

//       &:nth-of-type(3) {
//         background-color: rgb(48, 48, 48);
//       }
//     }
//   }
// }

// .tags {
//   color: red;
// }

// #typewriter {
//   border-right: 0.05em solid;
//   animation: caret 1s steps(1) infinite;
// }

// @keyframes caret {
//   50% {
//     border-color: transparent;
//   }
// }

// .title {
//   position: absolute;
//   top: 15%;
//   left: 10%;
// }

// .skill-set {
//   position: absolute;
//   top: 25%;
//   left: 10%;
// }

// .skills {
//   position: absolute;
//   top: 30%;
//   left: 10%;
// }

// .images {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   img {
//     height: 10rem;
//   }
// }
